.logo {
	float: right
}
.navigation {
	list-style-type: none;
  margin: 0;
  padding: 0;
}
.about {
	margin: 0;
	float: right;
	padding-left: 50px;
}
.about_me {
	float: left;
	margin: 0;
}
.about_pic {
	float: right;
	width: 100%;
	margin: 20px;
}
.contact {
	list-style-type: none;
	border-bottom: 50px;
	text-align: center;
	padding-left: 0;
	margin: 0 auto;
}
ul#nav-links li {
  display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding-left: 50px;
}
#nav-links > li:not(:last-child)::after{
  content:"|";
  margin: 0;
}
.container-fluid {
	background-color: red;
}
#email {
	text-align: center;
	margin: 0 auto;
}
.JB {
	width: 100%;
	margin: 20px;
	float: left;
}
.samples {
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 0 auto;
	border-bottom: 5px solid red;
	text-align: center;
}
h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
}
.bold {
	background-color: #33485e;
  padding: 3px 5px;
  color: white;
  font-weight: bold;
}
