.logo {
	float: right
}
.navigation {
	list-style-type: none;
  margin: 0;
  padding: 0;
}
.about {
	margin: 0;
	float: right;
	padding-left: 50px;
}
.about_me {
	float: left;
	margin: 0;
}
.about_pic {
	float: right;
	margin: 0;
	padding: 20px;
}
